<h1><%=@brand.name%>: Platforms</h1>
<h3>Pick a Platorm</h3>

<table class="table">
 <tr>
  	<th></th>
  	<th>Platform Params</th>
  	<th></th>
  	<th></th>
  	
  	<th>Brand Platform Params</th>

  </tr>


  <tr >
  
  	<th>Platforms</th>
  	<th>name</th>
  	<th>device</th>
  	<th>env</th>

  	<th>ep</th>
  	<th>pname</th>
  	<th>suite</th>

   
  </tr>
 
		<tr>
				
			<%@brand_platforms.each do |bp|%>	
			
				<td><%= link_to bp.platform.name, [bp, :configs]%></td>
				<td><%=bp.platform.name%></td>
				<td><%=bp.platform.device%></td>
				<td><%=bp.platform.env%></td>

				<td><%=bp.ep%></td>
				<td><%=bp.pname%></td>
				<td><%=bp.suite%></td>

						

					

	
			<%end%>
		
		

		
			
		</tr>



</table>